<h1>productxxx</h1>
{{name}}
<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'product.edit' model}}Change{{/link-to}}

{{outlet}}
